@import 'lemonade';

$color-bg : #fff;
$color-hero-bg : #ddd;
$color-info-bg : #222;
$color-info : #fff;
$color-logo-bg : #ff0;


body {
	background-color: $color-bg;
}

.lemon {
	height: 100%;
}

$logo-width: 258px;

.info-bar {
	position: absolute;
	height: $logo-width;
	top: 40%;
	margin-top: -$logo-width/2;	
	opacity: 0.8;
}

.logo {		
	width: $logo-width; 

	float: right;

	&:after {
		float: none;
		clear: both;
	}
}
.info {	
	background-color: $color-info-bg;
	color: $color-info;

	width: 300px;	
	padding: 10px;

	position: absolute;
	top: 0px;

	line-height: 1.2em;		
}

.hero-bg {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	overflow: hidden;
	background-color: #dddddd;

	img {
		position: absolute;
		top: 0px;
		left: 0px;		
		width: 100%;
		opacity: 1;
	}
}

.map {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 1;
}

.animate {
	transition: all ease-in-out 1s;
}
.info.animate {
	transition: all 0.5s ease-in-out 0.3s;
}

.animate.ng-hide {	
	opacity: 0;
	display: block !important;
	pointer-events: none;
}

.info.animate.ng-hide {
	line-height: 0em;
	opacity: 0;
}

